.footerDiv {
    padding-top: 60px;
}

.footerBrand {
    @include flex(row, initial, initial);
    margin-right: 50px;
}

.footerLogoDiv .logoFooter {
    height: 50px;
    margin: 0 20px 0 20px;
}

.footerHeadline {
    color: $whiteBG;
    font-size: 30px;
    margin-top: 5px;
}

.footerBottom {
    @include flex(row, initial, space-between);
    margin-top: -15px;
}

.footerLeft {
    @include flex(row, initial, initial);
}

.footerParagraph {
    color: $whiteBG;
}

.listOfPages {
    color: $whiteBG;
    margin-right: 50px;
    @include flex(column, initial, initial);
}

.footerLink {
    color: $whiteBG;
    margin-bottom: -12px;
}

.footerLeiste {
    width: 100%;
    height: 20px;
    background: $darkerGreen;
    color: $whiteBG;
    margin-top: 15px;
}

.footerLeisteText {
    text-align: center;
    font-size: 12px;
    padding: 3px;
}

@media (max-width: 992px) {
    .footerDiv {
        padding-right: 10px;
    }

    .searchbarFooter {
        display: none;
    }

    .footerLogoDiv .logoFooter {
        height: 30px;
        margin: 0 10px 0 10px;
    }

    .footerBrand {
        margin-right: 10px;
    }

    .footerHeadline {
        font-size: 20px;
    }

    .listOfPages {
        margin-right: 0;
    }
}

@media (max-width: 850px) {
    .navFooterDivText {
        display: none;
    }
}