.navbar-light .navbar-nav .nav-link {
    color: $whiteBG;
}

.navLogoDiv .logoNav {
    height: 50px;
    margin: 0 90px 0 20px;
}

.navbar {
    border-bottom: 2px solid $mainGreen;
    margin-bottom: 20px;
}

.searchNavLink {
    display: none;
}

.navbar-justify {
    @include flex(row, initial, space-between);
}

.navbar-account {
    margin-right: 20px;
}

.accountImg {
    width: 25px;
    height: 25px;
    margin-top: 8px;
}

.deviderLine {
    color: $whiteBG;
    margin-top: 8px;
}

.navBottom {
    @include flex(row, flex-end, initial);
    margin-left: 20px;
}

.textDivNav {
    margin-right: 100px;
}

.textDivNavHeadline {
    color: $whiteBG;
    font-weight: 600;
}

.textDivNavSubHead {
    color: $whiteBG;
    font-weight: 400;
    font-size: 18px;
    margin-top: -5px;
}

@media (max-width: 1100px) {
    .navLogoDiv .logoNav {
        height: 40px;
        margin: 0 40px 0 10px;
    }

    .navbar-account {
        margin-right: 5px;
    }
    
    .accountImg {
        width: 20px;
        height: 20px;
    }
    
    .textDivNav {
        margin-right: 100px;
    }
    
    .textDivNavHeadline {
        color: $whiteBG;
        font-weight: 600;
    }
    
    .textDivNavSubHead {
        color: $whiteBG;
        font-weight: 400;
        font-size: 18px;
        margin-top: -5px;
    }

    .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .navBarDiv {
        padding-right: 10px;
    }

    .navbar-nav {
        flex-direction: row;
        margin: 0 10px 0 10px;
    }

    .nav-link {
        margin-right: 10px;
    }
    
    .accountImg {
        margin-right: 10px;
    }

    .deviderLine {
        display: none;
    }

    .textDivNav {
        margin-right: 50px;
    }

    .textDivNavHeadline {
        font-size: 24px;
    }

    .textDivNavSubHead {
        color: $whiteBG;
        font-weight: 400;
        font-size: 18px;
        margin-top: -5px;
    }
}

@media (max-width: 775px) {
    .mr-auto {
        @include flex(row, initial, initial);
        flex-wrap: wrap;
    }

    .navbarAcccountDiv {
        width: 200px;
    }

    .navbar-account {
        @include flex(column, initial, initial);
    }

    .searchNavLink {
        display: initial;
    }

    .searchbarNav {
        display: none;
    }

    .textDivNavHeadline {
        margin-top: 40px
    }
}