.productDiv {
    @include flex(row, initial, space-between);
}

.productMainInfoDiv {
    max-width: 250px;
    margin-top: 10px;
}

.productName {
    color: $darkerBlue;
    font-size: 20px;
    max-width: 250px;
    word-break: break-all;
}

.productNameLong {
    color: $darkerBlue;
    font-size: 20px;
    word-break: break-all; 
}

.tagDivProductCard {
    margin: 30px 0 30px 0;
    @include flex(row, initial, space-between);
}

.infoP {
    color: $darkerBlue;
    font-size: 12px;
    margin-bottom: 30px;
}

.productDescription {
    font-size: 12px;
    color: $darkerBlue;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 0;
    max-width: 450px;
    word-break: break-all;
}

.deviderProductInfo {
    width: 2px;
    height: 240px;
    background: $darkerBlue;
    border-radius: 5px;
    margin: 10px 30px 0 30px;
}

.productGhgMainDiv {
    margin-top: 10px;
    width: 100%;
}

.productGhgDataTop {
    @include flex(row, initial, space-between);
}

.productGHGDAtaHeadlineTop {
    color: $darkerBlue;
    font-size: 20px;
    word-break: break-all;
    max-width: 450px;
}

.arrowProductDiv {
    @include flex(row, initial, initial);
    align-content: flex-start;
    margin-top: -5px;
    margin-left: 20px;
}

.arrowProductEmissionImg {
    margin-top: -25px;
    margin-right: 5px;
}

.imgProductInfoMiddleBottom {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.ProductEditDiv {
    @include flex(row, initial, flex-end);
    margin-top: -5px;
    margin-bottom: 20px;
}

.addedByProductcard {
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
}

.divButtonMoreBottom {
    display: none;
}

@media (max-width: 1200px) {
    .productMainInfoDiv {
        max-width: 220px;
    }
    
    .productName {
        font-size: 18px;
        max-width: 220px;
    }

    .productNameLong {
        font-size: 18px;
    }
    
    .tagDivProductCard {
        flex-direction: column;
    }
    
    .productDescription {
        max-width: 350px;
    }
    
    .deviderProductInfo {
        height: 270px;
        margin: 10px 20px 0 10px;
    }
    
    .productGHGDAtaHeadlineTop {
        font-size: 18px;
        max-width: 350px;
    }
    
    .addedByProductcard {
        font-size: 12px;
        line-height: 12px;
        margin-top: 5px;
    }
} 

@media (max-width: 775px) {
    .ProductEditDiv{
        display: none;
    }

    .productDiv {
        flex-direction: column;
    }

    .deviderProductInfo {
        width: 100%;
        height: 2px;
        background: $darkerBlue;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .productMainInfoDiv {
        @include flex(row, initial, space-between);
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    .tagDivProductCard {
        margin: 0;
    }

    .infoP {
        display: none;
    }

    .productDescription {
        max-width: 100%;
        margin-bottom: 10px;
    }
    
    .productGHGDAtaHeadlineTop {
        max-width: 100%;
    }

    .addedByProductcard {
        color: $mainGreen;
    }

} 

@media (max-width: 525px) {
    .divButtonMoreTop {
        display: none;
    }

    .divButtonMoreBottom {
        display: initial;
    }
}