.approvedDataMainDivInfo {
    width: 100%;
}

.approvedDataMainDivUnder {
    width: 100%;
    @include flex(row, initial, space-between);
    margin-top: 20px;
}

.approvedDataMainText {
    word-break: break-all;
}

@media (max-width: 530px) {
    .approvedDataMainDivUnder {
        flex-direction: column;
    }
}