.approvedProductWidth {
    width: 100%;
}

.approvedProductContainer {
    @include flex(row, initial, space-between);
}

.approvedProductDescDiv {
    width: 40%;
    margin-top: 20px;
}

.descriptionApprovedProd {
    font-size: 14px;
    word-break: break-all;
    font-weight: 200;
    margin-right: 20px;
}

.approvedProductDivButtons {
    margin-top: 20px;
    width: 30%;
    margin: 10px;
}

@media (max-width: 775px) {
    .approvedProductContainer {
        @include flex(column, initial, initial);
    }

    .approvedProductDescDiv {
        width: 90%;
    }
    
    .approvedProductDivButtons {
        width: 90%;
    }
}