.alternativeProduct {
    width: 420px;
    height: 80px;
    border: 2px solid $darkerBlue;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    &:hover {
        border: 3px solid $darkerBlue;
        @include hover();
    }
}

.alternativeProductsHeadlineDiv {
    @include flex(row, initial, space-between);
}

.alternativeProductName {
    font-size: 16px;
    color: $darkerBlue;
    font-weight: 600;
}

.alternativeProductGP {
    font-size: 16px;
    color: $mainGreen;
}

.alternativeProductP {
    font-size: 14px;
    color: $darkerBlue;
}

