#selectCategorySelctor .css-yk16xz-control {
    position: relative!important;
    z-index: 11;
}

.addProductCategoryHeadline {
    font-size: 16px;
    color: $darkerBlue;
    margin-top: 10px;
}

.addProductCategoryAddDiv {
    margin-top: 20px;
}

.labelNewProduct {
    margin-top: 10px;
}

.deviderDivAddFields {
    height: 2px;
    width: 100%;
    background: $darkerBlue;
    margin-top: 20px;
}

.newProductDescriptionStepSeller {
    font-size: 20px;
    color: $darkerBlue;
    margin-top: 20px;

}