.mainCarProdContainer {
    @include flex(row, initial, space-between);
}

.mainCarProdDivLeft {
    max-width: 200px;
}

.mainCarProdDivMiddle {
    max-width: 500px;
    margin-top: 20px;
}

.mainCarProdPDiv {
    @include flex(row, initial, space-between);
}

.mainCarProdDesc {
    margin-top: 20px;
    max-width: 500px;
    word-break: break-all;
}

.mainCarProdRight {
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .mainCarProdDivMiddle {
        max-width: 300px;
    }
    
    .mainCarProdDesc {
        max-width: 300px;
    }
}

@media (max-width: 1050px) {
    .mainCarProdRight {
        max-width: 170px;
    }

    .mainCarProdDivMiddle {
        max-width: 250px;
        font-size: 14px;
    }
    
    .mainCarProdDesc {
        max-width: 250px;
    }
    
    .mainCarProdP {
        font-size: 14px;
    }

    .mainCarProdDivLeft {
        max-width: 150px;
    }
}

@media (max-width: 700px) {
    .mainCarProdContainer {
        flex-direction: column;
    }

    .divButtonProduMain {
        @include flex(row, initial, space-between);
        margin-top: 20px;
    }

    .mainCarProdDivLeft {
        max-width: 100%;
    }

    .mainCarProdDivMiddle {
        max-width: 100%;
    }

    .mainCarProdDesc {
        max-width: 100%;
    }

    .mainCarProdRight {
        @include flex(row, initial, space-between);
        max-width: 100%;
    }
}

@media (max-width: 540px) {
    .divButtonProduMain {
        flex-direction: column;
    }

    .mainCarProdRight {
        flex-direction: column;
    }
}