.ghgDetailContainer {
    @include flex(row, initial, space-between);
}

.ghgDetailPDiv {
    @include flex(row, initial, initial);
    width: 500px;
}

.ghgDetailParagraph {
    color: $darkerBlue;
    font-size: 16px;
    margin-right: 20px;
}

.ghgDetailParagraphBrackets {
    color: $darkerBlue;
    font-size: 16px;
}

@media (max-width: 1300px) {
    .ghgDetailContainer {
        @include flex(column, initial, space-between);
    }
    
    .ghgDetailPDiv {
        flex-direction: column;
        width: 400px;
    }
}

@media (max-width: 630px) {
    .ghgDetailPDiv {
        width: 270px;
    }
}