.ProductGHGDataTitle {
    color: $darkerBlue;
    font-size: 20px;
}

.EmissionMainStatementDiv {
    @include flex(row, initial, space-between);
    width: 100%;
    margin-top: 40px;
}

.EmissionDataTitle {
    color: $darkerBlue;
    font-size: 16px;
    width: 200px;
}

.EmissionDataText {
    color: $mainBarGrey;
    font-size: 18px;
    margin-top: 2px;
    width: 500px;
}

.emissionDetailsDivWithEdit {
    @include flex(row, initial, initial);
}

.emssissionDataTextCond {
    margin-right: 20px;
}

.emssionTotoalDivFlex {
    display: flex;
    flex-direction: row;    
}

@media (max-width: 1300px) {
    .ProductGHGDataTitle {
        font-size: 18px;
    }
    
    .EmissionDataTitle {
        color: $darkerBlue;
        font-size: 16px;
        width: 200px;
    }
    
    .EmissionDataText {
        width: 400px;
    }
    
    .emssissionDataTextCond {
        margin-right: 10px;
    }

    .emssionTotoalDivFlex {
        flex-direction: column;
    }
}

@media (max-width: 630px) {
    .EmissionMainStatementDiv {
        flex-direction: column;
    }

    .EmissionDataText {
        width: 270px;
    }
}