.productAltHeadlineDiv {
    width: 100%;
    margin-bottom: 40px;
}

.productAltHeadline {
    font-size: 20px;
    color: $darkerBlue;
    margin-bottom: 20px;
    margin-right: 20px;
}

.productAltHeadlineDivFlex {
    @include flex(row, initial, initial);
}

.alternativeDivFlex {
    @include flex(row, initial, space-around);
    flex-wrap: wrap;
}

.productAltHeadlineNotProv {
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

@media (max-width: 1000px) {
    .productAltHeadlineNotProv {
    font-size: 18px;
    }

    .productAltHeadline {
        font-size: 18px;
    }
}