.approveSourceItemHeadline {
    font-size: 16px;
    color: #41475E;
    word-break: break-all;
}

.verifiedBoxLabel {
    margin-right: 10px;
}

.chooseTypeDivFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chooseTypeSouerceDiv {
    width: 170px;
    height: 40px;
    background: #41475E;
    border: transparent;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding-top: 9px;
    text-align: center;
    margin: 5px;
}

.chooseRelTypeDiv {
    width: 170px;
    height: 40px;
    background: rgb(50, 61, 104);
    border: transparent;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding-top: 9px;
    text-align: center;
    margin: 5px;
}

.divTypeSourceRel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headlineApproveSourcesFetchRel {
    font-size: 20px;
    color: #41475E;
    margin-top: 10px;
}