.containerSourceDot {
   display: flex;
   flex-direction: row;
   margin-top: 50px;
}

.dateSourceDot {
    margin: 0 20px 0 20px;
    width: 200px;
}

.dotSourceDotsLG {
    margin: 0 20px 0 20px;
    height: 30px;
    width: 30px;
    border: 3px solid green;
    border-radius: 100px;
    background: rgb(139, 172, 139);
}

.dotSourceDotsG {
    margin: 0 20px 0 20px;
    height: 30px;
    width: 30px;
    border: 3px solid green;
    border-radius: 100px;
    background: green;
}

.dotSourceDotsLB {
    margin: 0 20px 0 20px;
    height: 30px;
    width: 30px;
    border: 3px solid blue;
    border-radius: 100px;
    background: lightBlue;
}

.dotSourceDotsLR {
    margin: 0 20px 0 20px;
    height: 30px;
    width: 30px;
    border: 3px solid red;
    border-radius: 100px;
    background: pink;
}

.dotSourceDotsR {
    margin: 0 20px 0 20px;
    height: 30px;
    width: 30px;
    border: 3px solid red;
    border-radius: 100px;
    background: red;
}

.dotsTextDiv {
    width: 770px;
    word-break: break-all;
}

.dotsDataDiv {
    display: flex;
    flex-direction: column;
}

.dotsDataUpperDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userSourceDot {
    margin-left: 5px;
}

@media (max-width: 1300px) {
    .dotsTextDiv {
        width: 400px;
    }

    .dateSourceDot {
        margin: 0 10px 0 10px;
    }
}

@media (max-width: 750px) {
    .dateSourceDot {
        margin: 10px 0 20px 0;
    }

    .dotsTextDiv {
        width: 300px;
        margin-bottom: 20px;
    }

    .containerSourceDot {
        flex-direction: column;
        margin-top: 0px;
    }
}