.containerFormUpdateProduct {
    width: 100%;
}

.headlineUpdateForm {
    font-size: 20px;
    color: #41475E;
    font-weight: 600;
}

.updateSelctButtonsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.updateSelectDivSelect {
    width: 170px;
    height: 40px;
    margin: 5px;
    color: white;
    background: #41475E;
    border: transparent;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
    font-size: 14px;
    &:hover {
        @include hover();
    }
}

.updateFormOriginalValue {
    font-size: 18px;
    margin-top: 20px;
    word-break: break-all;
}

.updateNameType {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(91, 99, 133);
    font-weight: 600;
}