.containerSignUp {
    margin-top: 20px;
}

.buttonDivSignUp {
    margin-top: 20px;
}

.formButtonGeneral {
    width: 200px;
    background: $darkerGreen;
    border: 1px solid $mainGreen;
    border-radius: 5px;
    color: $whiteBG;
}

.signupDIvForm {
    margin-top: 10px;
}