$textColor: #000;
$mainBarGrey: #636981;
$mainGreen: #244B11;
$darkerBlue: #41475E;
$darkerGreen: #1E3D0E;

$whiteBG: #FFFFFF;

$stdShadow: 4px 4px 25px rgba(0, 0, 0, 0.25);

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin hover(){
  cursor: pointer;
}