.sectionNavigation {
    height: 250px;
    background: url("../../assets/navbar_bg.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative!important;
    z-index: 0;
}

.sectionFooter {
    height: 100%;
    background: url("../../assets/footer_bg.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative!important;
    z-index: 0;
}

.Content {
    position: relative!important;
    z-index: 5;
}

.mainContent {
    @include flex(row, initial, initial);
    margin: -50px 0 -20px 0;
}

.mainbars {
    width: 100%;
}

@media (min-width: 1400px) {
    .sectionNavigation {
        background-size: 100% auto;
    }
    
    .sectionFooter {
        background-size: 100% auto;
    }
}

@media (max-width: 1200px) {
    .mainContent {
        margin: -50px 20px -20px 0;
    }
}