.changeHistoryProCardContainer {
    width: 100%;
    margin-bottom: 20px;
}

.changeHistoryProHeadline {
    font-size: 24px;
    color: $darkerBlue;
    word-break: break-all;
}

.changeHistoryProCardP {
    word-break: break-all;
}

.changeHistoryProCardDiv {
    @include flex(row, initial, initial);
    margin-top: 10px;
}

.changeHistoryProCardA {
    margin-left: 10px;
}