.cardApprovalContainer {
    width: 100%;
}

.cardApprovalTitle {
    font-size: 20px;
    color: $darkerBlue;
}

.cardApprovalUpperDiv {
    @include flex(row, initial, space-between);
}

.cardApprovalRightDiv {
        width: 50%;
}

.cardApprovalButtonDiv {
    width: 35%;
}

.cardApprovalButtonFlexDiv {
    @include flex(row, initial, space-between);
}

.headlineApproveSourcesFetch {
    font-size: 24px;
    color: $darkerBlue;
}

.cardApprovalPDesc {
    word-break: break-all;
    margin-left: 20px;
}

@media (max-width: 800px) {
    .cardApprovalUpperDiv {
        flex-direction: column;
    }

    .cardApprovalPDesc {
        margin-left: 0;
    }

    .cardApprovalRightDiv {
        width: 100%;
    }
    
    .cardApprovalButtonDiv {
        width: 100%;
    }
}