

.topBarHeadline {
    font-size: 20px;
    color: $darkerBlue;
}

.topBarSubheadline {
    font-size: 14px;
}

.topBarButtonDiv {
    @include flex(row, initial, space-between);
}

.bottomBarFlex {
    @include flex(column, center, initial);
}

.upperBarDivButtons {
    width: 700px;
}

.divUpperBarButton {
    @include flex(row, initial, space-between);
}

@media (max-width: 1060px) {
    .divUpperBarButton {
        width: 80%;
    }
}

@media (max-width: 660px) {
    .divUpperBarButton {
        @include flex(column, initial, initial);
    }
}