.newProductPageTitle {
    color: $darkerBlue;
    font-size: 24px;
    width: 100%;
}

.newProductDescriptionStep {
    font-size: 20px;
}

.newProductTopDiv {
    @include flex(row, initial, space-between);
    width: 100%;
}

.newProductMainInfosDiv {
    width: 100%;
}

.newProductInputDiv {
    @include flex(row, initial, space-between);
    margin-bottom: 20px;
}

.newProductNameDiv {
    width: 100%;
}

#isRawMaterial {
    margin-left: 10px;
}

.newProductDescriptionDiv {
    width: 95%;
    margin: 10px 10px 0 10px;
}

#inputProductInfoDescritption {
    height: 125px;
}

.sourceDivNewProduct {
    @include flex(row, initial, space-between);
    margin-top: 40px;
    width: 100%;
}

.sourceDivInputDiv {
    width: 100%;
}

.newProductInputDivSource {
    @include flex(row, initial, space-between);
}

#inputProductInfoSourceLink {
    width: 700px;
    margin-bottom: 20px;
}

#inputProductInfoSource {
    width: 700px;
    height: 80px;
}

.buttonDivNewData {
    @include flex(row, flex-end, initial);
    margin-left: 110px;
}