.MainBarContainer {
    background: $whiteBG;
    box-shadow: $stdShadow;
    border-radius: 5px;
    width: 97%;
    margin-left: 20px;
    min-height: 50px;
    position: relative;
    z-index: 5; 
    padding: 10px;
    color: $mainBarGrey;
    overflow: auto;
}

.bottomMianBarApprovedDataSearch {
    margin-top: 30px;
}

@media (max-width: 1050px) {
    .MainBarContainer {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .MainBarContainer {
        width: 97%;
    }
}