.modalDivRow {
    display: flex;
    flex-direction: row;
    &:hover {
        @include hover();
    }
}

.infoButtonModal {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.modalButtonPre {
    color: $mainBarGrey;
}

