.searhbardiv {
    @include flex(row, initial, initial)
}

@media (max-width: 800px) {
    #inputSearchBar {
        width: 150px !important;
        font-size: 14px !important;
    }

    #buttunSearchBar {
        width: 120px !important;
        font-size: 14px !important;
    }
}