.sideBarTemplate {
    width: 240px;
    height: 970px;
    box-shadow: $stdShadow;
    border-radius: 5px;
    position: relative;
    z-index: 100;
    background: $whiteBG;
    padding: 10px;
    margin-left: 20px;
}

.sideBarDivPart {
    margin-bottom: 40px;
}

.sideBarButtonProductDiv {
    margin-top: 20px;
}

.sideBarHeadline {
    font-size: 20px;
    color: $darkerBlue;
}

.sideBarSubText {
    font-size: 14px;
    color: $mainBarGrey;
}

@media (max-width: 991px) {
    .sideBarTemplate {
        display: none;
    }
}