.essContainer {
    @include flex(row, initial, initial);
}

.essSourceDiv {
    @include flex(row, initial, initial);
}

.essImgSource {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    &:hover {
        @include hover();
    }
}

.simpleEditParagraph {
    color: $mainGreen;
    font-size: 12px;
    &:hover {
        @include hover();
    }
}

.statusPointNew {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin: 3px 10px 0 15px;
}

.sourceStatusApproved {
    color: $mainBarGrey;
    font-size: 12px;
}

@media (max-width: 500px) {
    .essContainer {
        flex-direction: column;
    }
}